::selection {
  background: var(--kin);
  color: var(--oil);
}

.glow {
  --oil: gold;
  --lio: khaki;
  --ink: purple;
  --kin: rebeccapurple;
  background: var(--oil);
  color: var(--kin);
}

.glow:active {
  --oil: var(--lio);
}

:any-link {
  color: inherit;
}

@media (prefers-contrast: more) {
  .glow {
    --kin: var(--ink);
    --lio: mintcream;
  }
}

@media (prefers-color-scheme: dark) {
  .glow {
    background: var(--kin);
    color: var(--oil);
  }

  ::selection {
    background: var(--oil);
    color: var(--kin);
  }
}